<h1>Login to Facespace</h1>

<div class="row">
	<div class="col-md-15">
		<div class="well well-md">
			<%= form_tag '/login' do  %>
				<fieldset>
					<div class="form-group col-xs-12 col-sm-6 col-md-12">
						<%= label_tag :email, nil, class: 'col-md-3' %>
						<div class="col-md-9"><%= email_field_tag :email %></div>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-12">
						<%= label_tag :password, nil, class: 'col-md-3' %>
						<div class="col-md-9"><%= password_field_tag :password %></div>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-11">
					  <div class="col-md-12">
					    <%= submit_tag 'Login', class: "btn btn-large btn-primary" %>
					  </div>
	  				</div>
					  <div class="col-md-12">
						New User? <%=link_to('Sign up Now!', signup_path)%>
					  
					</div>
				</fieldset>				
			<% end %>
		</div>
	</div>
</div>